<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<div class="booyah-box col-xs-6 col-xs-offset-3" >
<h1>Give me some info!</h1>
  <%= simple_form_for @dude do |f| %>
    <%= f.input :name %>
    <%= f.input :phone %>
    <div hidden>
    <%= f.input :inputlattitude, :input_html => {:id => 'lat' } %>
    <%= f.input :inputlongitude, :input_html => {:id => 'lng' } %>
    </div>
     <%= f.submit 'Create', :class => 'btn btn-primary' %>
  <% end %>
</div>
</div> 


<script>

var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
  $('#lat').val(position.coords.latitude);
  $('#lng').val(position.coords.longitude);
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude;  
}

$(getLocation);
</script>